{% extends "blog/base_easy.html"%}
{%block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&effect=brick-sign">
<style>
.w3-lobster {
  font-family: "Lobster", Sans-serif;
}
</style>
<div class="w3-container w3-lobster font-effect-brick-sign">
  <p class="w3-xlarge">Welcome to Hult</p>
</div>




{% endblock content %}
