{% extends "blog/base_easy.html"%}
{% load static %}
{%block content %}

<div class="w3-container">
  <h4>Principles Of Marketing</h4>

  <div class="w3-card-4" style="width:50%">
    <img src="{% static 'img/hult.jpg' %}" alt="Alps" width="200">	
    
<div class="w3-card-4">
  <div class="w3-container w3-center">
    <ul class="list-group">
        <li class="list-group-item list-group-item-light">Public Speaking</li>
        <li class="list-group-item list-group-item-light">Market Research</li>
        <li class="list-group-item list-group-item-light">Power Point Presentation</li>
    </ul>
  </div>
</div>
  <h4>Principles Of Finance</h4>

  <div class="w3-card-4" style="width:50%">
    <img src="{% static 'img/hult.jpg' %}" alt="Alps" width="200">  
    
<div class="w3-card-4">
  <div class="w3-container w3-center">
    <ul class="list-group">
        <li class="list-group-item list-group-item-light">Business Analysis</li>
        <li class="list-group-item list-group-item-light">Financial Accounting</li>
        <li class="list-group-item list-group-item-light">Company Valuation</li>
    </ul>
  </div>
</div>
</div>


{% endblock content %}



